# .gitignore

# Ignore virtual environment folder
venv/
face_parsing_PyTorch/__pycache__/
__pycache__/
models/
static/
.vscode/
uploads/
temp/
FaceGenSeg.lnk
fastrun.bat
FaceGenSeg.code-workspace
desktop.ini