--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.0.0+cu117
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.15.0+cu117
pillow
numpy
opencv-python
tensorflow-gpu==2.8.0
scikit-image
tqdm
fastapi
uvicorn
python-multipart
matplotlib
Flask==2.1.1
insightface
protobuf==3.20.2
onnxruntime-gpu==1.14.1