--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1+cu118
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.15.2+cu118
Pillow
numpy==1.23.5
opencv-python==4.7.0.72
tensorflow==2.12.0
scikit-image==0.21.0
tqdm==4.65.0
fastapi
uvicorn==0.22.0
python-multipart
matplotlib==3.7.1
Flask==2.3.2
insightface==0.7.3
protobuf==4.23.3
onnxruntime-gpu==1.15.0