<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FaceGenSeg</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
      body {
        background-color: #222;
        color:ivory;
        font-family: 'Roboto', sans-serif;
        margin-left: 50px;
      }
      h1 {
        color:ivory;
      }
      .custom-file-input {
        display: none;
      }
      .custom-file-label{
        color:ivory;
      }
      .button {
        display: inline-block;
        cursor: pointer;
        background-color: #555;
        color:ivory;
        padding: 0 50px;
        line-height: 30px;
        height: 30px;
        font-size: 14px;
        border: none; 
      }
      .button:link,
      .button:visited {
        color:ivory;
        text-decoration: none;
      }
      .custom-file-label {
        margin-right: 10px;
      }
      #fileName {
        min-width: 150px;
        display: inline-block;
      }
      hr {
        border: none;
        height: 1px;
        color: ivory;
        width: 430px;
        background-color: ivory;
        margin-right: auto;
        margin-left: 0;
      }
    </style>
      <script>
        function updateFileName() {
          const fileInput = document.getElementById('file');
          const fileName = document.getElementById('fileName');
          if (fileInput.files.length > 0) {
            fileName.innerText = fileInput.files[0].name;
          } else {
            fileName.innerText = '';
          }
        }

        // Function to save dilation_pixels, feather_amount, and checkbox values to local storage when form is submitted
        function saveValues() {
          const dilationPixelsInput = document.getElementById('dilation_pixels');
          const featherAmountInput = document.getElementById('feather_amount');
          const iterationsAInput = document.getElementById('iterationsA');
          localStorage.setItem('dilation_pixels', dilationPixelsInput.value);
          localStorage.setItem('feather_amount', featherAmountInput.value);
          localStorage.setItem('iterationsA', iterationsAInput.value);

          const dilationPixelsInputB = document.getElementById('dilation_pixels_B');
          const featherAmountInputB = document.getElementById('feather_amount_B');
          const iterationsBInput = document.getElementById('iterationsB');
          localStorage.setItem('dilation_pixels_B', dilationPixelsInputB.value);
          localStorage.setItem('feather_amount_B', featherAmountInputB.value);
          localStorage.setItem('iterationsB', iterationsBInput.value);

          //Save box coefficent
          const boxWidthCoInput = document.getElementById('widthcoefficient');
          const boxHeightCoInput = document.getElementById('heightcoefficient');
          localStorage.setItem('widthcoefficient', boxWidthCoInput.value);
          localStorage.setItem('heightcoefficient', boxHeightCoInput.value);

          // Save checkbox values
          const faceClassesCheckboxes = document.querySelectorAll('input[name="face_classes"]');
          const excludeClassesCheckboxes = document.querySelectorAll('input[name="exclude_classes"]');
          let faceClassesValues = [];
          let excludeClassesValues = [];
          faceClassesCheckboxes.forEach((checkbox) => {
            faceClassesValues.push(checkbox.checked);
          });
          excludeClassesCheckboxes.forEach((checkbox) => {
            excludeClassesValues.push(checkbox.checked);
          });

          localStorage.setItem('face_classes', JSON.stringify(faceClassesValues));
          localStorage.setItem('exclude_classes', JSON.stringify(excludeClassesValues));

          const addOriginalMaskCheckbox = document.getElementById('add_original_mask');
          localStorage.setItem('add_original_mask', addOriginalMaskCheckbox.checked);
          const addOriginalMaskCheckboxB = document.getElementById('add_original_mask_B');
          localStorage.setItem('add_original_mask_B', addOriginalMaskCheckboxB.checked);

          const addboxmask = document.getElementById('boxmask');
          localStorage.setItem('boxmask', addboxmask.checked);

          // Save threshold
          const thresholdInput = document.getElementById('threshold');
          localStorage.setItem('threshold', thresholdInput.value);
        }

        // Function to set dilation_pixels, feather_amount, and checkbox values from local storage when page loads
        function setValues() {
          const dilationPixelsInput = document.getElementById('dilation_pixels');
          const featherAmountInput = document.getElementById('feather_amount');
          const iterationsAInput = document.getElementById('iterationsA');
          const storedDilationPixels = localStorage.getItem('dilation_pixels');
          const storedFeatherAmount = localStorage.getItem('feather_amount');
          const storediterationsA = localStorage.getItem('iterationsA');
          dilationPixelsInput.value = storedDilationPixels ? storedDilationPixels : 5;
          featherAmountInput.value = storedFeatherAmount ? storedFeatherAmount : 5;
          iterationsAInput.value = storediterationsA ? storediterationsA : 1;

          const dilationPixelsInputB = document.getElementById('dilation_pixels_B');
          const featherAmountInputB = document.getElementById('feather_amount_B');
          const iterationsBInput = document.getElementById('iterationsB');
          const storedDilationPixelsB = localStorage.getItem('dilation_pixels_B');
          const storedFeatherAmountB = localStorage.getItem('feather_amount_B');
          const storediterationsB = localStorage.getItem('iterationsB');
          dilationPixelsInputB.value = storedDilationPixelsB ? storedDilationPixelsB : 5;
          featherAmountInputB.value = storedFeatherAmountB ? storedFeatherAmountB : 5;
          iterationsBInput.value = storediterationsB ? storediterationsB : 1;

          const boxWidthCoInput = document.getElementById('widthcoefficient');
          const boxHeightCoInput = document.getElementById('heightcoefficient');
          const storedboxWidthCo = localStorage.getItem('widthcoefficient');
          const storedboxHeightCo = localStorage.getItem('heightcoefficient');
          boxWidthCoInput.value = storedboxWidthCo ? storedboxWidthCo : 1.4;
          boxHeightCoInput.value = storedboxHeightCo ? storedboxHeightCo : 1.5;


          // Set checkbox values
          const faceClassesCheckboxes = document.querySelectorAll('input[name="face_classes"]');
          const excludeClassesCheckboxes = document.querySelectorAll('input[name="exclude_classes"]');
          let storedFaceClassesValues = JSON.parse(localStorage.getItem('face_classes'));
          let storedExcludeClassesValues = JSON.parse(localStorage.getItem('exclude_classes'));
 

          if (storedFaceClassesValues) {
            faceClassesCheckboxes.forEach((checkbox, index) => {
              checkbox.checked = storedFaceClassesValues[index];
            });
          } else {
            // Set default values
            [1,2,3,4,5,6,10,11,12,13].forEach((value) => {
              document.getElementById('face_class_' + value).checked = true;
            });
          }

          if (storedExcludeClassesValues) {
            excludeClassesCheckboxes.forEach((checkbox, index) => {
              checkbox.checked = storedExcludeClassesValues[index];
            });
          } else {
            // Set default values
            [7,8,9,17].forEach((value) => {
              document.getElementById('exclude_class_' + value).checked = true;
            });
          }

          //Set original mask bool
          const addOriginalMaskCheckbox = document.getElementById('add_original_mask');
          const storedAddOriginalMask = localStorage.getItem('add_original_mask');
          addOriginalMaskCheckbox.checked = storedAddOriginalMask !== null ? storedAddOriginalMask === 'true' : true;

          //Set original maskB bool
          const addOriginalMaskCheckboxB = document.getElementById('add_original_mask_B');
          const storedAddOriginalMaskB = localStorage.getItem('add_original_mask_B');
          addOriginalMaskCheckboxB.checked = storedAddOriginalMaskB !== null ? storedAddOriginalMaskB === 'true' : true;

          //Set boxmask
          const addboxmask = document.getElementById('boxmask');
          const storedaddboxmask = localStorage.getItem('boxmask');
          addboxmask.checked = storedaddboxmask !== null ? storedaddboxmask === 'true' : true;


          // Set threshold
          const thresholdInput = document.getElementById('threshold');
          const storedThreshold = localStorage.getItem('threshold');
          thresholdInput.value = storedThreshold ? storedThreshold : 10;
        }

        // Call setValues when page loads
        window.onload = setValues;
      </script>
  </head>
  <body>
    <div style="display: flex; justify-content: space-between;">
      <div style="width: 45%;">
        <h1>FaceGenSeg</h1>
        <p>本程序是个整合了面部侦测,性别识别,和面部遮罩的工具.</p>    
        <hr>
        <form action="/" method="post" enctype="multipart/form-data" onsubmit="saveValues()">  <!-- Added onsubmit attribute -->
          <h3>第一层A（加）</h3>
          <input type="checkbox" id="face_class_1" name="face_classes" value="1">
          <label for="face_class_1">脸</label>
          <input type="checkbox" id="face_class_2" name="face_classes" value="2">
          <label for="face_class_2">左眉</label>
          <input type="checkbox" id="face_class_3" name="face_classes" value="3">
          <label for="face_class_3">右眉</label>
          <input type="checkbox" id="face_class_4" name="face_classes" value="4">
          <label for="face_class_4">左眼</label>
          <input type="checkbox" id="face_class_5" name="face_classes" value="5">
          <label for="face_class_5">右眼</label>
          <input type="checkbox" id="face_class_6" name="face_classes" value="6">
          <label for="face_class_6">眼镜</label><br>
          <input type="checkbox" id="face_class_7" name="face_classes" value="7">
          <label for="face_class_7">左耳</label>
          <input type="checkbox" id="face_class_8" name="face_classes" value="8">
          <label for="face_class_8">右耳</label>
          <input type="checkbox" id="face_class_9" name="face_classes" value="9">
          <label for="face_class_9">耳环</label>
          <input type="checkbox" id="face_class_10" name="face_classes" value="10">
          <label for="face_class_10">鼻子</label>
          <input type="checkbox" id="face_class_11" name="face_classes" value="11">
          <label for="face_class_11">牙</label>
          <input type="checkbox" id="face_class_12" name="face_classes" value="12">
          <label for="face_class_12">上唇</label>
          <input type="checkbox" id="face_class_13" name="face_classes" value="13">
          <label for="face_class_13">下唇</label><br>
          <input type="checkbox" id="face_class_14" name="face_classes" value="14">
          <label for="face_class_14">脖子</label>
          <input type="checkbox" id="face_class_15" name="face_classes" value="15">
          <label for="face_class_15">项链</label>
          <input type="checkbox" id="face_class_16" name="face_classes" value="16">
          <label for="face_class_16">衣服</label>
          <input type="checkbox" id="face_class_17" name="face_classes" value="17">
          <label for="face_class_17">头发</label>
          <input type="checkbox" id="face_class_18" name="face_classes" value="18">
          <label for="face_class_18">帽子</label><br>
          <br>
          <label for="dilation_pixels">像素扩张</label>
          <input type="number" name="dilation_pixels" id="dilation_pixels" placeholder="Dilation Pixels" step="1">
          <label for="iterationsA">扩张遍历次数</label>
          <input type="number" name="iterationsA" id="iterationsA" placeholder="iterations" step="1">
          <br>
          <label for="feather_amount">羽化像素</label>
          <input type="number" name="feather_amount" id="feather_amount" placeholder="Feather Amount" step="1">
          <br>
          <br>
          <label for="add_original_mask">羽化保留原遮罩</label>      
          <input type="checkbox" id="add_original_mask" name="add_original_mask">
          <hr>
          <h3>第二层B（减）</h3>
          <input type="checkbox" id="exclude_class_1" name="exclude_classes" value="1">
          <label for="exclude_class_1">脸</label>
          <input type="checkbox" id="exclude_class_2" name="exclude_classes" value="2">
          <label for="exclude_class_2">左眉</label>
          <input type="checkbox" id="exclude_class_3" name="exclude_classes" value="3">
          <label for="exclude_class_3">右眉</label>
          <input type="checkbox" id="exclude_class_4" name="exclude_classes" value="4">
          <label for="exclude_class_4">左眼</label>
          <input type="checkbox" id="exclude_class_5" name="exclude_classes" value="5">
          <label for="exclude_class_5">右眼</label>
          <input type="checkbox" id="exclude_class_6" name="exclude_classes" value="6">
          <label for="exclude_class_6">眼镜</label><br>
          <input type="checkbox" id="exclude_class_7" name="exclude_classes" value="7">
          <label for="exclude_class_7">左耳</label>
          <input type="checkbox" id="exclude_class_8" name="exclude_classes" value="8">
          <label for="exclude_class_8">右耳</label>
          <input type="checkbox" id="exclude_class_9" name="exclude_classes" value="9">
          <label for="exclude_class_9">耳环</label>
          <input type="checkbox" id="exclude_class_10" name="exclude_classes" value="10">
          <label for="exclude_class_10">鼻子</label>
          <input type="checkbox" id="exclude_class_11" name="exclude_classes" value="11">
          <label for="exclude_class_11">牙</label>
          <input type="checkbox" id="exclude_class_12" name="exclude_classes" value="12">
          <label for="exclude_class_12">上唇</label>
          <input type="checkbox" id="exclude_class_13" name="exclude_classes" value="13">
          <label for="exclude_class_13">下唇</label><br>
          <input type="checkbox" id="exclude_class_14" name="exclude_classes" value="14">
          <label for="exclude_class_14">脖子</label>
          <input type="checkbox" id="exclude_class_15" name="exclude_classes" value="15">
          <label for="exclude_class_15">项链</label>
          <input type="checkbox" id="exclude_class_16" name="exclude_classes" value="16">
          <label for="exclude_class_16">衣服</label>
          <input type="checkbox" id="exclude_class_17" name="exclude_classes" value="17">
          <label for="exclude_class_17">头发</label>
          <input type="checkbox" id="exclude_class_18" name="exclude_classes" value="18">
          <label for="exclude_class_18">帽子</label><br>
          <br>
          <label for="dilation_pixels_B">像素扩张</label>
          <input type="number" name="dilation_pixels_B" id="dilation_pixels_B" placeholder="Dilation Pixels" step="1">
          <label for="iterationsB">扩张遍历次数</label>
          <input type="number" name="iterationsB" id="iterationsB" placeholder="iterations" step="1">
          <br>
          <label for="feather_amount_B">羽化像素</label>
          <input type="number" name="feather_amount_B" id="feather_amount_B" placeholder="Feather Amount" step="1">
          <br>
          <br>
          <label for="add_original_mask_B">羽化保留原遮罩</label>      
          <input type="checkbox" id="add_original_mask_B" name="add_original_mask_B">
          <hr>                   
          <p>合成逻辑:A-B</p>
          <p>这里的像素都是扩张算法用到的矩阵大小. <br>这并不是指各个方向拓展的精确像素值. <br>这是由于遮罩形状本身不规则决定的,具体效果需要实验.</p>
          <hr>
          <p>下面这两个系数是用来控制识别框大小的,也就是每张脸实际抠图的范围</p>
          <label for="widthcoefficient">box宽系数</label>
          <input type="number" name="widthcoefficient" id="widthcoefficient" placeholder="width coefficient" step="0.01">
          <label for="heightcoefficient">box高系数</label>
          <input type="number" name="heightcoefficient" id="heightcoefficient" placeholder="height coefficient" step="0.01">
          <hr>
          <label for="threshold">临界值</label>
          <input type="number" name="threshold" id="threshold" placeholder="threshold" step="0.01">
          <p>(当有效百分比低于临界值时,文件名中的mask会变成failed,相当于传参给后续的程序)</p>
          <label for="boxmask">方框遮罩</label>      
          <input type="checkbox" id="boxmask" name="boxmask">
          <p>(开启后前面除了box的宽高系数,其它的设置失效,直接输出识别框为遮罩)</p>
          <hr>
          <button type="button" class="button" onclick="document.getElementById('file').click()">选择</button>
          <span id="fileName" class="custom-file-label"></span>
          <input type="file" name="file" id="file" class="custom-file-input" required onchange="updateFileName()" style="display: none;">
          <button type="submit" class="button">计算</button>
        </form>
      </div>
      <div style="width: 45%;">   
        {% if result_data %}
        <h2>运行结果:</h2>
        <hr>
        <ul>
          {% for face_data in result_data %}
          <li>
            <p>脸 {{ loop.index }}:</p>
            <p>性别: {{ face_data.gender }}</p>
            <p>年龄: {{ face_data.age }}</p>
            <p>识别信心度: {{ face_data.confidence }}</p>
            <p>遮罩像素: {{ face_data.nonzero_pixels }}</p>        
            <p>识别框像素: {{ face_data.box_pixels }}</p>
            <p>识别框宽: {{ face_data.box_width }}</p>
            <p>识别框高: {{ face_data.box_height }}</p>
            <p>Padding: {{ face_data.padding }}</p>
            <p>有效百分比(遮罩占识别框的比): {{ face_data.percentage }}</p>
            <p>图片总像素: {{ face_data.image_pixels }}</p>      
            <p>遮罩文件名: {{ face_data.mask_filename }}</p>
            <img src="{{ url_for('static', filename=face_data.mask_filename) }}" alt="BiSeNet Mask" height="200">
            <br>
            <br>
            <a href="{{ url_for('static', filename=face_data.mask_filename) }}" download="{{ face_data.mask_filename }}" class="button">Download</a>
            <hr>       
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div> 
    </div>
  </body>
</html>
